<nav>
  <div class="site-title">
    <a href="/">👾 Blogorithm</a>
    <p>Not Just a Blog. A Blogorithm.</p>
  </div>

  <ul>
    <li class="x">
      <a href="/" class="<%= currentPage == 'blogs' ? 'active' : '' %>"
        >Blogs</a
      >
    </li>
    <li class="x">
      <a href="/about" class="<%= currentPage == 'about' ? 'active' : '' %>"
        >About</a
      >
    </li>
    <li>
      <a
        href="/blogs/create"
        class="<%= currentPage == 'create' ? 'active' : '' %>"
        >Create a Blog</a
      >
    </li>
  </ul>
</nav>
