<nav>
  <div class="site-title">
    <a href="/">👾 Blogorithm</a>
    <p>Not Just a Blog. A Blogorithm.</p>
  </div>

  <ul>
    <li class="x"><a href="/">Blogs</a></li>
    <li class="x"><a href="/about">About</a></li>
    <li><a href="/blogs/create">Create a Blog</a></li>
  </ul>
</nav>
