<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="create-blog content">
      <form action="/blogs" method="POST">
        <label for="title">Blog title:</label>
        <input
          name="title"
          type="text"
          autocomplete="off"
          id="title"
          placeholder="title"
          required
        />

        <label for="body">Blog Snippet:</label>
        <textarea
          name="snippet"
          id="body"
          autocomplete="off"
          placeholder="Blog Snippet"
          required
        ></textarea>

        <button>Submit</button>
      </form>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
